* {
    font-family: "Azeret Mono", monospace;
}


.azeret-mono-font> {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}



/*shared style*/
.opatity {
    opacity: 0.5;
}

.image {
    height: 274px;
    width: 245px;
}

.image1 {
    height: 240px;
    width: 240px;
}




/*nav bar style*/

#nav {
    font-weight: 800px;
    font-size: 28px;
}

.nav-buutton {
    margin: 2px black;
    border-radius: 5px;
    padding: 17px 24px;
    font-weight: 800px;
    font-size: 20px;
}

.nav-title {
    display: flex;
    justify-content: space-between;
}


/*banner style*/
.bg-image {
    background-image: url(assets/Hero-bg.png);
    text-align: center;
    padding: 26px 221px;
}

.banner-title {
    font-size: 48px;
    font-weight: 800px;
}

.banner-content {
    font-size: 16px;
    opacity: 0.5;
}

.banner-button {
    font-weight: 700px;
    font-size: 20px;
    background-color: black;
    padding: 21px 24px;
    border-radius: 5px;
}

header div a {
    color: white;
    text-decoration: none;
}


/* why web development style*/


.title {
    text-align: center;
    padding: 140px;
    justify-content: space-between;
    margin: 152px;
    padding: 80px 97px;
    background-color: #fafbfd;

}

section>h4 {
    font-size: 32px;
    font-weight: 800px;
}

section>p {
    font-size: 16px;
    font-weight: 400px;
    opacity: 0.5;
}

/*section>div styles*/


.element-1head {
    font-size: 24px;
    font-weight: 800px;
    opacity: 0.7;
}

.element-1descripton {
    font-size: 16px;
    font-weight: 400;
}

.element-1button {
    font-weight: 700px;
    font-size: 20px;
    padding: 12px 20px;
    color: black;
}

section div a {
    text-decoration: none;
    color: black;
}


.element-1 {
    display: flex;
    justify-content: space-between;
}

.element-2head {
    font-size: 24px;
    font-weight: 800px;
    opacity: 0.7;
}


.set-element {
    display: inline;
}

.child {
    display: block;
}

.element {
    display: flex;
    justify-content: space-between;
    gap: 32px;
}



/*inspiration style*/

.inspiration-title {
    font-size: 32px;
    font-weight: 800px;
}

.inspiration-description {
    font-weight: 400px;
    font-size: 16px;
    opacity: 0.5;
}

.inspiration-parent {
    text-align: center;
}

.add-video {
    padding: 32px;
}

.video {
    text-align: center;
    padding: 140px;
    justify-content: space-between;
    margin: 152px;
    padding: 80px 97px;
}